aside.sidebar
  .top_bar
    p.logo
      i.iconfont.icon-95b
    i.iconfont.icon-7cd.toggle_another_form
  - var menus = [{url:"todo",icon:"878",title:"TODO"},{items:[{url:"grid",title:"网格布局(grid)"},{url:"button",title:"按钮(button)"},{url:"form_element",title:"表单元素(form-element)"},{url:"validate",title:"验证(validate)"},{url:"mask",title:"遮罩(mask)"},{url:"tip",title:"提示(tip)"},{url:"box",title:"弹框(box)"},{url:"icon_font",title:"图标(iconfont)"},{url:"expression",title:"表情(expression)"},{url:"datepicker",title:"日期控件(datepicker)"}],icon:"72d",title:"UI组件"},{items:[{url:"user",title:"用户(user)"},{url:"guest_user",title:"特邀用户(guest_user)"}],icon:"72e",title:"项目"},{items:[{url:"chart1",title:"图表1"},{url:"chart2",title:"图表2"}],icon:"889",title:"图表"},{items:[{url:"table1",title:"表格1"},{url:"table2",title:"表格2"}],icon:"862",title:"表格"},{url:"form",icon:"85a",title:"表单页面"},{url:"push",icon:"8a6",title:"推送"},{url:"docking_list",icon:"83c",title:"对接"},{url:"welcome",icon:"730",title:"欢迎页面"},{url:"login",icon:"919",title:"登录页面"},{url:"404",icon:"705",title:"404"},{url:"error",icon:"94c",title:"错误页面"},{url:"not_support",icon:"836",title:"不支持页面"},{items:[{url:"welcome",title:"我的信息"},{url:"welcome",title:"修改密码"},{url:"welcome",title:"退出登录"}],icon:"774",title:"个人中心"}];
    ul.menu
      - each menu in menus
        if menu.url
          li(class={active: curPage === '#{menu.url}'})
            a(href='_HOST_/html/#{menu.url}.html')
              i(class="iconfont icon-#{menu.icon}")
              span.title #{menu.title}
              span.arrow
        else
          li(class={active: curPage === '#{menu.title}'})
            a(href='javascript:;')
              i(class="iconfont icon-#{menu.icon}")
              span.title #{menu.title}
              span.arrow
            ul.sub_menu
              - each item in menu.items
                li
                  a.title(href='_HOST_/html/#{item.url}.html') #{item.title}
